{% comment %}
This section is used in the collection template to render collection page
listing all products within a collection.

https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<h1>{{ collection.title }}</h1>

<div class="collection-products">
    {% paginate collection.products by 20 %}
        {% for product in collection.products %}
            <a class="collection-product" href="{{ product.url }}">
                {% if product.featured_image %}
                    {% render 'image',
                        class: 'collection-product__image',
                        image: product.featured_image,
                        width: 600,
                        crop: 'center'
                    %}
                {% endif %}

                <div class="collection-product__content">
                    <h3>{{ product.title }}</h3>
                    {%  if product.price_varies %}
                        <p>{{ product.price_min | money }} - {{ product.price_max | money }}</p>
                    {% else %}
                        <p>{{ product.price | money }}</p>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
        
        {{ paginate | default_pagination }}
    {% endpaginate %}
</div>

{% stylesheet %}
.collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
    gap: 16px;
}

.collection-product {
    color: var(--color-white);
    text-align: center;
    position: relative;

    &:hover {
        .collection-product__content {
            padding-bottom: 72px;
        }
    }

    .collection-product__image {
        border-radius: 24px;
        aspect-ratio: 3/4;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .collection-product__content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 24px 0;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        background: linear-gradient(
            to bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0.8) 100%
        );
        transition: all 0.3s ease-in-out;
    }
}
{% endstylesheet %}

{% schema %}
{
    "name": "t:general.collection",
    "settings": []
}
{% endschema %}
