<div class="footer-wrap full-width shopify-section">
    <footer>
        <div class="footer-content">
            <div class="logo-wrap">
                <a href="{{ routes.root_url }}"><img src="{{ 'logo.svg' | asset_url }}" width="355" height="252" alt="{{ shop.name }}"></a>
            </div>
            <div class="footer__links">
                <ul>
                {% for link in section.settings.menu.links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                {% endfor %}
                </ul>

                <div class="footer__socials">
                    <a href="https://www.instagram.com/sleepybeegardens/" target="_blank">{{ 'icon-instagram.svg' | inline_asset_content }}</a>
                    <a href="https://www.facebook.com/profile.php?id=61588009434616" target="_blank">{{ 'icon-facebook.svg' | inline_asset_content }}</a>
                </div>
            </div>
        </div>
        
        <div class="footer__copyright">&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}. All Rights Reserved</div>
    </footer>
</div>

{% stylesheet %}
    .shopify-section-group-footer-group {
        position: relative;
        color: var(--color-white);
        background-image: var(--bg-sbg);
        background-size: cover;
        background-repeat: none;

        &::before {
            content: '';
            display: block;
            grid-column: 1 / -1;
            height: 60px;
            background: var(--color-white);
            -webkit-clip-path: url(#solid-waves-angle-bottom-down);
            clip-path: url(#solid-waves-angle-bottom-down);
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 96px;
        padding: 60px 24px 24px;
        max-width: 1280px;
        margin: 0 auto;
        width: 100%;

        svg {
            width: 2em;
            color: white;
        }

        a {
            color: var(--color-white);
            text-decoration: none;
        }

        .footer-content {
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: 64px;

            @media (max-width: 759px) {
                display: block;
                text-align: center;
            }
        }

        .logo-wrap {
            @media (max-width: 759px) {
                margin-bottom: 48px;
            }

            img {
                width: 100%;
                max-width: 400px;

                @media (max-width: 759px) {
                    display: inline-block;
                }
            }
        }

        .footer__links {
            display: flex;
            flex-direction: column;
            gap: 48px;

            ul {
                list-style: none;
                padding: 0;

                li:not(:last-child) {
                    margin-bottom: 16px;
                }

                a {
                    display: inline-block;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: -2px;
                        left: 0;
                        background-color: var(--color-white);
                        transition: transform 0.2s ease-out;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                    }
                }
            }
        }

        .footer__socials {
            display: flex;
            column-gap: 16px;
            align-items: flex-start;

            @media (max-width: 759px) {
                justify-content: center;
            }

            a {
                display: inline-block;

                svg {
                    transform-style: preserve-3d;
                    transition: opacity 0.2s ease-in-out;
                }

                &:hover svg {
                    opacity: 0.6;
                }
            }
        }
    }
{% endstylesheet %}

{% schema %}
{
    "name": "t:general.footer",
    "settings": [
    {
        "type": "link_list",
        "id": "menu",
        "label": "t:labels.menu"
    },
    {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "t:labels.show_payment_icons",
        "default": false
    }
  ]
}
{% endschema %}
