<section class="hero">
    <div class="hero-inner">
        <div class="content">
            <div class="text-wrap">
                <h1>{{ section.settings.heading }}</h1>
                <div class="action-group">
                    <a href="{{ section.settings.primary_button_link }}" class="button">{{ section.settings.primary_button_text }}</a>
                    <a href="{{ section.settings.secondary_button_link }}" class="button button-secondary">{{ section.settings.secondary_button_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% stylesheet %}
  {% if section.settings.hero_background_image %}
    #shopify-section-{{ section.id }} .hero {
      background-image: url({{ section.settings.hero_background_image | image_url: width: 2000 }});
      background-size: cover;
      background-position: center center;
    }
  {% endif %}
{% endstylesheet %}

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_background_image",
      "label": "Hero Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Locally Grown, Farm Fresh<br/>Flowers & Goods"
    },
    {
      "type": "text",
      "id": "primary_button_text",
      "label": "Primary Button Text",
      "default": "Shop"
    },
    {
      "type": "url",
      "id": "primary_button_link",
      "label": "Primary Button Link"
    },
    {
      "type": "text",
      "id": "secondary_button_text",
      "label": "Secondary Button Text",
      "default": "Contact"
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "Secondary Button Link"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}