{% comment %}
This section is used in the product template to render product page with
media, content, and add-to-cart form.

https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<div class="product-page-wrap">
    <div class="product-images">
        <div class="swiper swiper-main product-images-swiper">
            <div class="swiper-wrapper">
                {% for image in product.images %}
                    <div class="swiper-slide">
                        {% render 'image', class: 'product-image', image: image %}
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper swiper-thumb product-images-thumb-swiper" thumbsSlider="">
            <div class="swiper-wrapper">
                {% for image in product.images %}
                    <div class="swiper-slide">
                        {% render 'image', class: 'product-image-thumb', image: image %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Initialize Swiper -->
        <script>
            var thumbSwiper = new Swiper(".product-images-thumb-swiper", {
                loop: true,
                spaceBetween: 12,
                slidesPerView: 4,
                freeMode: true,
                watchSlidesProgress: true,
            });
            var swiper = new Swiper(".product-images-swiper", {
                loop: true,
                spaceBetween: 12,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                thumbs: {
                    swiper: thumbSwiper,
                },
            });
        </script>
    </div>
    <div class="product-content">
        <script>console.log({{  product | json }})</script>
        <div class="product-info">
            <h1>{{ product.title }}</h1>
            {%  if product.price_varies %}
                <p class="product-price">{{ product.price_min | money }} - {{ product.price_max | money }}</p>
            {% else %}
                <p class="product-price">{{ product.price | money }}</p>
            {% endif %}
            {{ product.description }}
            <p class="tip">Monitor water closely! Fresh flowers drink much more water than store-bought flowers.</p>
        </div>
        <div class="product-form">
            {% assign current_variant = product.selected_or_first_available_variant %}

            {% form 'product', product %}
                {% if product.variants.size > 1 %}
                    <select name="id">
                        {% for variant in product.variants %}
                            <option
                                value="{{ variant.id }}"
                                {% if variant == current_variant %}
                                    selected="selected"
                                {% endif %}
                            >
                                {{ variant.title }} - {{ variant.price | money }}
                            </option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="hidden" name="id" value="{{ current_variant.id }}">
                {% endif %}
                
                <div class="atc-wrap">
                    <div class="quantity-wrap">
                        <button type="button" class="quantity-btn decrement" onclick="this.nextElementSibling.stepDown()">-</button>
                        <input type="number" name="quantity" min="1" value="1" />
                        <button type="button" class="quantity-btn increment" onclick="this.previousElementSibling.stepUp()">+</button>
                    </div>
                    <button class="button">Add to Cart</button>
                    {% comment %} {{ form | payment_button }} {% endcomment %}
                </div>
            {% endform %}
        </div>
    </div>
</div>

<div class="pdp-callout full-width">
    <h3>All of our flowers are grown with love.</h3>
</div>

{% stylesheet %}
.pdp-callout {
    height: 20vh;
    background-image: var(--bg-sbg);
    background-size: cover;
    background-position: center center;
    padding: 48px;
    margin: 48px 0;
}

.product-page-wrap {
    display: flex;
    column-gap: 64px;

    .product-images {
        flex: 0 0 40%;
        min-width: 0; /* fixes grid blowout */

        .product-image img {
            border-radius: 24px;
        }

        .product-image-thumb img {
            border-radius: 8px;
        }
    }

    .product-content {
        flex: 1;
    }

    .product-info {
        margin-bottom: 32px;

        h1 {
            margin-bottom: 16px;
        }

        .product-price {
            font-size: 18px;
        }
    }

    .product-form {
        .shopify-product-form {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
        }
    }
}
{% endstylesheet %}

{% schema %}
{
    "name": "t:general.product",
    "settings": [],
    "disabled_on": {
        "groups": ["header", "footer"]
    }
}
{% endschema %}
