{% comment %}
This section is used in the product template to render product page with
media, content, and add-to-cart form.

https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<div class="product-page-wrap">
    <h1 class="mobile-title">{{ product.title }}</h1>
    <div class="product-images">
        <div class="swiper swiper-main product-images-swiper">
            <div class="swiper-wrapper">
                {% for media in product.media %}
                    <div class="swiper-slide">
                        {% case media.media_type %}
                            {% when 'image' %}
                                {% render 'image', class: 'product-image', image: media %}
                            {% when 'video' %}
                                {{ media | video_tag: class: 'product-video', autoplay: false, loop: true, controls: true }}
                            {% when 'external_video' %}
                                {{ media | external_video_tag: class: 'product-video' }}
                        {% endcase %}
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper swiper-thumb product-images-thumb-swiper" thumbsSlider="">
            <div class="swiper-wrapper">
                {% for media in product.media %}
                    <div class="swiper-slide">
                        {% if media.media_type == 'image' %}
                            {% render 'image', class: 'product-image-thumb', image: media %}
                        {% else %}
                            {% render 'image', class: 'product-image-thumb', image: media.preview_image %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Initialize Swiper -->
        <script>
            var thumbSwiper = new Swiper(".product-images-thumb-swiper", {
                loop: true,
                spaceBetween: 12,
                slidesPerView: 4,
                freeMode: true,
                watchSlidesProgress: true,
            });
            var swiper = new Swiper(".product-images-swiper", {
                loop: true,
                spaceBetween: 12,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                thumbs: {
                    swiper: thumbSwiper,
                },
            });
        </script>
    </div>
    <div class="product-content">
        <div class="product-info">
            <h1>{{ product.title }}</h1>
            {%  if product.price_varies %}
                <p class="product-price">{{ product.price_min | money }} - {{ product.price_max | money }}</p>
            {% else %}
                <p class="product-price">{{ product.price | money }}</p>
            {% endif %}
            {{ product.description }}
            {% if product.metafields.custom.show_water_tip == true %}
                <p class="tip">Monitor water closely! Fresh flowers drink much more water than store-bought flowers.</p>
            {% endif %}
        </div>
        <div class="product-form">
            {% assign current_variant = product.selected_or_first_available_variant %}

            {% form 'product', product %}
                {% if product.variants.size > 1 %}
                    <select name="id">
                        {% for variant in product.variants %}
                            <option
                                value="{{ variant.id }}"
                                {% if variant == current_variant %}
                                    selected="selected"
                                {% endif %}
                            >
                                {{ variant.title }} - {{ variant.price | money }}
                            </option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="hidden" name="id" value="{{ current_variant.id }}">
                {% endif %}
                
                <div class="atc-wrap">
                    <div class="quantity-wrap">
                        <button type="button" class="quantity-btn decrement" onclick="this.nextElementSibling.stepDown()">-</button>
                        <input type="number" name="quantity" min="1" value="1" />
                        <button type="button" class="quantity-btn increment" onclick="this.previousElementSibling.stepUp()">+</button>
                    </div>
                    <button class="button">Add to Cart</button>
                    {% comment %} {{ form | payment_button }} {% endcomment %}
                </div>
            {% endform %}
        </div>
    </div>
</div>

<div class="pdp-callout full-width">
    <h3>All of our flowers are grown with love.</h3>
</div>

{% stylesheet %}
.pdp-callout {
    height: 20vh;
    background-image: var(--bg-sbg);
    background-size: cover;
    background-position: center center;
    padding: 48px;
    margin: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-page-wrap {
    display: flex;
    column-gap: 48px;

    @media (max-width: 759px) {
        flex-direction: column;
        row-gap: 16px;
    }

    .mobile-title {
        display: none;
        font-size: 1.5em;

        @media (max-width: 759px) {
            display: block;
        }
    }
    

    .product-images {
        min-width: 0; /* fixes grid blowout */

        @media (min-width: 760px) {
            flex: 0 0 40%;
        }

        .product-image img,
        .product-video {
            border-radius: 24px;
            width: 100%;
            height: auto;
        }

        .product-image-thumb {
            @media (max-width: 759px) {
                aspect-ratio: 3 / 2;
            }

            img {
                border-radius: 8px;

                @media (max-width: 759px) {
                    max-height: 100%;
                }
            }
        }
    }

    .product-content {
        flex: 1;
    }

    .product-info {
        margin-bottom: 32px;

        h1 {
            margin-bottom: 16px;

            @media (max-width: 759px) {
                display: none;
            }
        }

        .product-price {
            font-size: 20px;
        }
    }

    .product-form {
        .shopify-product-form {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
        }
    }
}
{% endstylesheet %}

{% schema %}
{
    "name": "t:general.product",
    "settings": [],
    "disabled_on": {
        "groups": ["header", "footer"]
    }
}
{% endschema %}
